*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color:#1A0B2E ;
}
/*----Navbar----*/

.nav{
    display: flex;
    align-items: center;
    padding-top: 0px;
    height: 92px;
    
    border-bottom: 1px solid rgb(60, 63, 94) ;
    
    
}
.nav h1{
    background-color: #1A0B2E;
    margin-left: 200px;
    color: white;
}
#wave{
    background: linear-gradient(to bottom, 
       /* rgba(145, 0, 248, 1) 33%,
        rgba(251, 9, 180, 1), 60%,
        rgba(247, 233, 63, 1) 100%*/
        
        #9d26d1 38% ,   
        #ff1f8e 60%,  
        #ff8e5e  81% 
       /* rgba(145, 0, 248, 1) 38%,
        #ff1f8e 60%,  
        #ff8e5e  81%*/
    );
    
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    
}
#nav-logo{
    font-size: 45px;
    font-weight: 800;
}
nav .menu{
    display: flex;
    margin-left: 314px;
    list-style-type: none;
    gap:2rem;   
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400px;
    color: white;
}

.btn{
    background: linear-gradient( 30deg,
     rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1),
     rgba(145, 0, 248, 1));
    padding: 12px 16px;
    border-radius: 100px;
    margin-left: 314px;
    font-size: 16px;
    font-weight: 600;
    gap:4px;
}

