*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color:#1A0B2E ;
}
/*----Navbar----*/

.nav{
    display: flex;
    align-items: center;
    padding-top: 0px;
    height: 92px;
    
    border-bottom: 1px solid rgb(60, 63, 94) ;
    
    
}
.nav h1{
    background-color: #1A0B2E;
    /*margin-left: 200px;*/
    color: white;
}
#wave{
    background: linear-gradient(to bottom, 
       /* rgba(145, 0, 248, 1) 33%,
        rgba(251, 9, 180, 1), 60%,
        rgba(247, 233, 63, 1) 100%*/
        
        #9d26d1 38% ,   
        #ff1f8e 60%,  
        #ff8e5e  81% 
       /* rgba(145, 0, 248, 1) 38%,
        #ff1f8e 60%,  
        #ff8e5e  81%*/
    );
    
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    
}
#nav-logo{
    font-size: 45px;
    font-weight: 800;
    margin-left: 200px;
}
nav .menu{
    display: flex;
    margin-left: 314px;
    list-style-type: none;
    gap:2rem;   
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.btn{
    background: linear-gradient( 30deg,
     rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1),
     rgba(145, 0, 248, 1));

    padding: 12px 16px;
    border-radius: 100px;
    margin-left: 314px;
    font-size: 16px;
    font-weight: 600;
    gap:4px;
}
.hamburger-icon {
    display: none;
}


/*-------Banner------*/
#banner{
    background-image: url("../assets/hero-bg.png");
    margin-top: 0px;  
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner-content {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    
}
.new-badge {
    position: absolute;
    top: 20px;
    margin-left: 240px;
    background-color: #00FF88;
    box-shadow: 0 4px 15px rgba(0, 255, 136, 0.4);  
    color: #1A0B2E;
    
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    z-index: 10; 
    
}

#banner-img2 {
    position: absolute;
    top: 89px; 
    left: 50%;
    transform: translateX(-50%); 
}
.banner-txt{
    margin-top: 40px;
    
}

.banner-txt h1{
    font-size: 60px;
    font-weight: 1500;
    color: white;

}
.banner-txt p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    padding: 8px 24px ;
}

.banner-buttons{
    display: flex;
    gap: 8px;
}
.btn-1{
    background: linear-gradient( 30deg,
     rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1),
     rgba(145, 0, 248, 1));

    color: aliceblue;
     padding: 12px 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    gap:8px;
    display: inline-flex;
    align-items: center;
    margin-top: 14px;
    
}
.btn-2{
     background-color: #1A0B2E;
     color: #00FF88;
     border: 2px solid #00FF88;
     padding: 12px 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    gap:8px;
    display: inline-flex;
    align-items: center;
}

/*-----About section------*/
#about{
    height:646px;
    background: #1A0B2E;  
}
#about-txt{
    width:1200px;
    height: 222px;
    margin-top: 50px;
    margin-left: 200px;
    background: #1A0B2E;
    align-items: center;
    text-align: center;
    color: #ffffff;
    
}
#about-txt h1{
    font-size: 48px;
    font-weight: 800;
}
#about-txt p{
    font-size: 16px;
    font-weight: 400;
    margin-top:16px ;
    line-height: 2;  
    
}
.txt-bottom{
    padding-top: 15px;
}

.about-line {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 80px auto; 
    width: 1200px;
    display: block;
}
#about-box{
    display: flex;
    
    width: 1200px;
    height: 94px;
    margin-top: 80px;
    margin-left: 200px;
    gap:80px;
}

#box1,#box2,#box3,#box4{
    width:240px ;
    height:94px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    gap:16px;
}

#about-box h1{
    font-size: 48px;
    font-weight: 1000;
    color: #00FF88;

}
#about-box p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

}

/*-----Choose section----*/

#choose{
    height: 1121px;
    margin-top: 0px;
    background: #230E3D;
    display: flow-root;
    
}

.choose-heading{
width: 1200px;
height: 58px;
margin-left:200px;
margin-top: 120px;
text-align: center;
background: #230E3D;

}
.choose-heading h1{
    
font-size: 48px;
font-weight: 1000;
color: #ffffff;

}

.box-grid{
    width: 1200px;
    height: 783px;
    margin-top: 40px;
    margin-left: 200px;
    background: #230E3D;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;    
}


.box-grid > div {
    background:  rgb(53, 16, 99,.3); 
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#choose-box1 {
    grid-row: span 2; 
}

#choose-box2, #choose-box3 {
    grid-column: span 2; 
    
}

#choose-box4 {
    grid-column: span 2;
}


.box-grid img {
    width: 45px;
    margin-bottom: 20px;
}

#choose-box2 img, #choose-box3 img {
    margin-bottom: 0;
}

.box-grid h1 {
    font-size: 24px;
    padding-top: 16px;
    color: #ffffff;
}

.box-grid p {
    font-size: 16px;
    line-height: 1.6;
    padding-top: 16px;
    color: rgba(255, 255, 255, 0.7);
}







/*------featured section-----*/
#featured{
    height: 1276px;
}
.featured-epi{
    width: 1200px;
    height:538px ;
    margin-top: 120px;
    margin-left: 200px;

}
  
.featured-epi{
    
    width: 1200px;
    height: 538px;
    background:#1A0B2E
    
}

.featured-epi h1{
    margin-left: 400px;
    font-size:48px ;
    font-weight: 800;
    color: white;

}

.epi-boxes{
    display: flex;
    margin-top: 40px;
    height: 440px;
    width: 1200px; 
}



.epi-box1 img,.epi-box2 img,.epi-box3 img{
    width: 380px;
    height: 214px;
    border-radius: 20px;
    
  
}

.epi-box1, .epi-box2, .epi-box3{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    color: #ffffff;
    
    
    
}

.epi-box1 h3, .epi-box2 h3,.epi-box3 h3{
    
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    margin-left: 24px;
    

}

.epi-box1 p, .epi-box2 p,.epi-box3 p{
    
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    margin-left: 24px;
}

.clock{
    margin-top: 400px;
    display: inline-flex;
    margin-left: 0%;
    gap:5px;
}
.clock span{
    color:#00FF88;
     display: inline-flex;
    
}
.clock img{
    height: 15px;
    width: 15px;
}





/*---------Host part----------*/

.host{
    margin-top:120px ;
    margin-left: 200px;
    width: 1200px;
    height: 378px;
    
}
#meet-host{
    width: 1200px;
    height:58px ;
    text-align: center;
    color: #ffffff;  
}
.host-info{
    width: 1200px;
    height:280px ;
    margin-top: 40px;
    background:  rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    gap: 24px;
    color: #ffffff;
}
.host-img{
    height:200px ;
    width: 200px;
    margin-top: 40px;
    margin-left: 40px;
}

.info h3{
    font-size: 40px;
    font-weight: bold;
    margin-top: 49px;
    margin-bottom: 16px;
}

.host-socials{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 7px;

}
.host-socials img{
    height: 25px;
    width: 25px;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 50%;
}

/*-------------footer-------------*/
footer {
    background:url("../assets/footer-bg.png");
    padding: 80px 0;
    text-align: center;
    position: relative;
    overflow: hidden;

}

.footer-logo {
    font-size: 64px;
    font-weight: 800;
    color: white;
    margin-bottom: 32px;
}
#footer-wave{
    background: linear-gradient(to bottom, 
        
        #9d26d1 38% ,   
        #ff1f8e 60%,  
        #ff8e5e  81% 
    );
    
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.footer-links a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
   
}

.footer-links a:hover {
    color: #ff1f8e; 
}

.footer-links img {
    width: 20px; 
    height: auto;
}


.copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    padding-top: 32px;
    display: inline-block;
}



/*-----------------------------
-------------------------------
--------------------------------
*/





/*-----responsive navbar-----*/
@media screen and (max-width:576px) {
    #nav-logo{
        margin-left: 20px;
        font-size: 20px;
        font-weight: 800;      
    }

    .nav{
    display: flex;
    align-items: center;
    padding-top: 0px;
    height: 60px;
    
    border-bottom: 1px solid rgb(60, 63, 94) ;  
        }
.menu {
        display: none; 
    }
     
.hamburger-icon {
        display: block !important;
        cursor: pointer;
        color: white;
        font-size: 24px;
        margin-right: 20px;
    }
    
}