*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    background-color:#1A0B2E ;
}
/*----Navbar----*/

.nav{
    display: flex;
    align-items: center;
    padding-top: 0px;
    height: 92px;
    
    border-bottom: 1px solid rgb(60, 63, 94) ;
    
    
}
.nav h1{
    background-color: #1A0B2E;
    /*margin-left: 200px;*/
    color: white;
}
#wave{
    background: linear-gradient(to bottom, 
       /* rgba(145, 0, 248, 1) 33%,
        rgba(251, 9, 180, 1), 60%,
        rgba(247, 233, 63, 1) 100%*/
        
        #9d26d1 38% ,   
        #ff1f8e 60%,  
        #ff8e5e  81% 
       /* rgba(145, 0, 248, 1) 38%,
        #ff1f8e 60%,  
        #ff8e5e  81%*/
    );
    
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    
}
#nav-logo{
    font-size: 45px;
    font-weight: 800;
    margin-left: 200px;
}
nav .menu{
    display: flex;
    margin-left: 314px;
    list-style-type: none;
    gap:2rem;   
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.btn{
    background: linear-gradient( 30deg,
     rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1),
     rgba(145, 0, 248, 1));

    padding: 12px 16px;
    border-radius: 100px;
    margin-left: 314px;
    font-size: 16px;
    font-weight: 600;
    gap:4px;
}
.hamburger-icon {
    display: none;
}


/*-------Banner------*/
#banner{
    background-image: url("../assets/hero-bg.png");
    margin-top: 0px;  
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner-content {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    
}
.new-badge {
    position: absolute;
    top: 20px;
    margin-left: 240px;
    background-color: #00FF88;
    box-shadow: 0 4px 15px rgba(0, 255, 136, 0.4);  
    color: #1A0B2E;
    
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    z-index: 10; 
    
}

#banner-img2 {
    position: absolute;
    top: 89px; 
    left: 50%;
    transform: translateX(-50%); 
}
.banner-txt{
    margin-top: 40px;
}

.banner-txt h1{
    font-size: 60px;
    font-weight: 1500;
    color: white;

}
.banner-txt p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    padding: 8px 24px ;
}

.banner-buttons{
    display: flex;
    gap: 8px;
}
.btn-1{
    background: linear-gradient( 30deg,
     rgba(247, 233, 63, 1),
     rgba(251, 9, 180, 1),
     rgba(145, 0, 248, 1));

    color: aliceblue;
     padding: 12px 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    gap:8px;
    display: inline-flex;
    align-items: center;
    margin-top: 14px;
    
}
.btn-2{
     background-color: #1A0B2E;
     color: #00FF88;
     border: 2px solid #00FF88;
     padding: 12px 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    gap:8px;
    display: inline-flex;
    align-items: center;
}

/*-----responsive navbar-----*/
@media screen and (max-width:576px) {
    #nav-logo{
        margin-left: 20px;
        font-size: 20px;
        font-weight: 800;      
    }

    .nav{
    display: flex;
    align-items: center;
    padding-top: 0px;
    height: 60px;
    
    border-bottom: 1px solid rgb(60, 63, 94) ;  
        }
.menu {
        display: none; 
    }
     
.hamburger-icon {
        display: block !important;
        cursor: pointer;
        color: white;
        font-size: 24px;
        margin-right: 20px;
    }
    
}
